<div class="container">
  <div class="row">
    <div class="col-4">
      <app-add-pizza (mandaPizzaEvento)="riceviPizza($event)"></app-add-pizza>
    </div>
    <div class="col-8">
      <app-pizza (mandaPizzaDaEliminareEvento)="riceviPizzaDaEliminare($event)" *ngFor="let pizza of pizze" [pizza]="pizza"></app-pizza>
    </div>
  </div>
</div>




<ngb-toast *ngIf="pulsante.show" [autohide]="true" (hidden)="pulsante.show=false" class="notifica">
	<ng-template ngbToastHeader>
		<div class="me-auto">
      <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" [attr.fill]="pulsante.colore"></rect>
      </svg> Nuova notifica!
		</div>
	</ng-template>
	{{ pulsante.testoNotifica }}
</ngb-toast>
